

#login_card {
    background-color:#B5EAD7 ;

    font-weight: bold;
    font-size: x-large;
    box-shadow:0 0 0.3rem 0.3rem black;
    border-radius: 40px;
}

#login_read_more {
    font-size: large;
    font-weight: normal;
}

#globeIcon {
    margin-top: 15px;
}

#login_login_btn {
    width:50%;
    margin-top: 10px;
}

#login_register_btn {
    margin-top:10px;
    width:50%;
}

#keep_logged_checkbox {
    margin-left: 7px;
    margin-right: 7px;
}

.login_input {
    background:none;
    border-color: black;
    border-width: 3px;
    margin-bottom:3px;
    margin-top:3px;
}

.form-control:focus {
    border-color: black;
    box-shadow: 0 0 0 0.25rem black;
    background: none;
}


#login_form {
    margin-top:8%;
}

#img_logo {
    width:400px;
    height:200px;
}

.error {
    color:red;
    font-size: medium;
}

#login_userName_error {
    display:none;
}

#login_fullname_error {
    display:none;
}


#login_error {
    display:none;
}

#login_password_error {
    display:none;
}


.login-btn {
    background-color: black;
    border-color: black;
    font-size: large;
}

.login-btn:disabled {
    background-color: black;
    border-color: black;
}

.login-btn:hover {
    background-color: white;
    border-color: black;
    color:black;
}


.login-btn:focus {
    background-color: black;
    border-color: black;
    color:white;
    box-shadow:0 0 0 0.25rem black;

}

#login_guest_btn {
    width:50%;
    margin-bottom: 7px;
}

.flag-icon {
    margin-left:5px;
    margin-right: 5px;
}

