#logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-row {
    margin: 10px;
}

#langBtn {
    font-weight: bold;
}

#imgLogo {
    height:100px;
    max-width: 100%;
}

@media screen and (max-width:800px) {
    #logo {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
