#logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.register-row {
    margin: 10px;
}

#register_card {
    background-color: #f8cd00;
    font-family: 'calibri';
    font-weight: bold;
    font-size: x-large;
    box-shadow:0 0 0.3rem 0.3rem black;
    border-radius: 40px;
}

#register_read_more {
    font-size: large;
    font-weight: normal;
}

#register_register_btn {
    width:60%;
    float: right;
}

#register_keep_login_text {
    margin-left:7px;
}

.register_input {
    background:none;
    border-color: black;
    border-width: 3px;
    margin-bottom:3px;
    margin-top:3px;
}

.form-control:focus {
    border-color: black;
    box-shadow: 0 0 0 0.25rem black;
    background: none;
}

.btn-primary {
    background-color: black;
    border-color: black;
}

.btn-primary:hover {
    background-color: white;
    border-color: black;
    color:black;
}


.btn-primary:focus {
    background-color: black;
    border-color: black;
    color:white;
    box-shadow:0 0 0 0.25rem black;

}

#register_form {
    margin-top:6%;
}

#register_loginPage_btn {
    width:40%;
}

input[type="radio"] {
    width: 0.85em;
    height: 0.85em;
    border: 1em black;
    background-color: transparent;
    accent-color:black;
    border-radius: 50%;
  }
.error {
    color:red;
    font-size: medium;
}

#userName_error {
    display:none;
}

#password_error {
    display:none;
}

#fullName_error {
    display:none;
}

#phoneNumber_error {
    display:none;
}

#memberType_error {
    display:none;
}


