
.register-row {
    margin: 10px;
}


#register_card {
    background-color: #B5EAD7;
    font-weight: bold;
    font-size: x-large;
    box-shadow:0 0 0.3rem 0.3rem black;
    border-radius: 40px;
    margin-bottom: 30px;
}

#register_read_more {
    font-size: large;
    font-weight: normal;
}

#register_register_btn {
    width:50%;
    margin-top:10px;
}

#register_keep_login_text {
    margin-left:7px;
}

.register_input {
    background:none;
    border-color: black;
    border-width: 3px;
    margin-bottom:3px;
    margin-top:3px;
}

.form-control:focus {
    border-color: black;
    box-shadow: 0 0 0 0.25rem black;
    background: none;
}

.register-btn {
    background-color: black;
    border-color: black;
}

.register-btn:hover {
    background-color: white;
    border-color: black;
    color:black;
}


.register-btn:focus {
    background-color: black;
    border-color: black;
    color:white;
    box-shadow:0 0 0 0.25rem black;

}

#register_form {
    margin-top:6%;
}

#register_loginPage_btn {
    width:50%;
    margin-top:10px;
}

input[type="radio"] {
    width: 0.85em;
    height: 0.85em;
    border: 1em black;
    background-color: transparent;
    accent-color:black;
    border-radius: 50%;
    margin-left:7px;
    margin-right: 7px;
  }
.error {
    color:red;
    font-size: medium;
}

#register_username_error {
    display:none;
}

#register_password_error {
    display:none;
}

#register_fullName_error {
    display:none;
}

#register_phoneNumber_error {
    display:none;
}

#register_memberType_error {
    display:none;
}




