#navBar {
    
    background-color: #f8cd00;
    border:1px solid #000;
}

.nav-link {
    color:black;
    font-size: 20px;
    font-weight: bold;
    margin-right:15px
}

.nav-link:hover {
    color:red;
}


.nav {
    --bs-nav-link-hover-color:black;
}

#logoDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

#WelcomePageContent {
    font-weight: bold;
    font-size: 40px;
    color:black;
}

.welcome-btn {
    background-color: #f8cd00;
    border:3px solid #000;
    color:black;
    font-weight: bold;
    padding-left:90px;
    padding-right:90px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top:30px;
    font-size: 40px;
}

.welcome-btn:hover {
    background-color: black;
    border-color: #f8cd00;
    color:#f8cd00;
}


.welcome-btn:focus {
    background-color: black;
    border-color: #f8cd00;
    color:#f8cd00;
    box-shadow:0 0 0 0.25rem black;

}

#teamModeBtn {
    padding-left:116px;
    padding-right: 116px;
}

#isInOtherGame {
    font-weight: normal;
    color:transparent;
}

.welcome-btn:disabled {
    background-color: black;
    border-color: #f8cd00;
    color:#f8cd00;
}